<div class="crossword-container">
  <h2>Mini Crossword</h2>
  
  @if (isLoading()) {
    <div class="loading">Loading crossword...</div>
  } @else if (error()) {
    <div class="error">{{ error() }}</div>
  } @else {
    <div class="crossword-grid">
      @for (row of crosswordGrid(); track $index) {
        <div class="crossword-row">
          @for (cell of row; track $index) {
            @if (cell.isBlack) {
              <div class="crossword-cell black-cell"></div>
            } @else {
              <input
                type="text"
                [value]="cell.value"
                [disabled]="!cell.isEditable"
                [class]="getCellClass(cell)"
                [attr.data-row]="cell.row"
                [attr.data-col]="cell.col"
                maxlength="1"
                (input)="onCellInput(cell, $event)"
                (keydown)="onCellKeydown(cell, $event)"
              />
            }
          }
        </div>
      }
    </div>
    
    <div class="crossword-controls">
      <button type="button" (click)="loadCrossword()" class="btn btn-primary">
        New Puzzle
      </button>
      <button type="button" (click)="clearPuzzle()" class="btn btn-secondary">
        Clear
      </button>
      <button type="button" (click)="findSolutions()" class="btn btn-success" [disabled]="isFindingSolutions()">
        @if (isFindingSolutions()) {
          Finding Solutions...
        } @else {
          Find Solutions
        }
      </button>
    </div>

    @if (solutions().length > 0) {
      <div class="solutions-section">
        <h3>Found {{ solutions().length }} Solutions</h3>
        <div class="solutions-list">
          @for (solution of solutions(); track $index) {
            <div class="solution-item">
              <span class="solution-number">Solution {{ $index + 1 }}:</span>
              <button type="button" (click)="applySolution($index)" class="btn btn-small">
                Apply
              </button>
            </div>
          }
        </div>
      </div>
    }
  }
</div> 